nav{
    width:40%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8px);
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 60%;
}
ul{
    list-style: none;
    padding: 0 30px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    position: relative;
}
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

